<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ticker}} data</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>		{{script|indent(8)|safe}}
	</head>
	
	<body>
		<div class=page>
			<h1>Generated graph for {{ticker}}<br>
			<a href="/index">Back</a></h1>
			{{div|indent(12)|safe}}
		</div>
	</body>
</html>